In [2]:
#wczytanie bibliotek
import pandas as pd
import numpy as np

In [3]:
# 1. Wczytanie danych produkt-kategoria
dane_kategorie = pd.read_csv('C:\\Users\\mateu\\OneDrive\\Pulpit\\wyg.dane_kategorie.csv')
kategorie = dane_kategorie.pivot_table(index='kategoriaid',columns='produktid',values='value')
kategorie.head(15)
# 2. Wczytanie danych klient-produkt
dane_aktywnosc = pd.read_csv('C:\\Users\\mateu\\OneDrive\\Pulpit\\wyg.dane_aktywnosc.csv')
aktywnosc = dane_aktywnosc.pivot_table(index='klientid',columns='produktid',values='zdarzenie')
aktywnosc = aktywnosc.fillna(0)

# 3. Przygotowanie populacji
#docelowy klient - klient z id = 1

docKlient = aktywnosc.iloc[[2]]
docKlient

produkty_obejrzane = docKlient.loc[:, (docKlient != 0).any()]
produkty_obejrzane   

populacja_aktywnosc = aktywnosc.drop(columns = produkty_obejrzane)
populacja_kategorie = kategorie.drop(columns = produkty_obejrzane)

n = 16
populacja_osobnikow_kategorie = np.split(populacja_kategorie, n, axis=1)
populacja_osobnikow_aktywnosc = np.split(populacja_aktywnosc, n, axis=1)

# 4. Obliczanie korelacji produktow

from sklearn.metrics.pairwise import pairwise_distances

jac_sim = 1 - pairwise_distances(populacja_osobnikow_kategorie[0].T, metric = "hamming")
# optionally convert it to a DataFrame
jac_sim = pd.DataFrame(jac_sim, index=populacja_osobnikow_kategorie[0].columns,
                       columns=populacja_osobnikow_kategorie[0].columns)
jac_sim.head(100)

jac_sim.sum().sum() # Korelacja(z) - wartosc korelacji produkto osobnika o indeksie 0


jac_sim2= (1 - pairwise_distances(populacja_osobnikow_kategorie[1].T, metric = "hamming"))/2
jac_sim3= 1 - pairwise_distances(populacja_osobnikow_kategorie[2].T, metric = "hamming")
# 5. Selekcja metoda kola ruletki

osobnik0 = list(populacja_osobnikow_kategorie[0].columns.values)
osobnik0
a = "{0:08b}".format(osobnik0[0])
a
osobnik_binarnie = ["{0:08b}".format(i) for i in osobnik0]

for x in range(len(osobnik_binarnie)):
    for y in range(len(osobnik_binarnie[x])):
        osobnik_binarnie1 += [osobnik_binarnie[x][y]]
osobnik_binarnie1 = [    
    osobnik_binarnie[0][0],
    osobnik_binarnie[0][1],
    osobnik_binarnie[0][2],
    osobnik_binarnie[0][3],
    osobnik_binarnie[0][4],
    osobnik_binarnie[0][5],
    osobnik_binarnie[0][6],
    osobnik_binarnie[0][7],    
                    ]
osobnik_binarnie2 = [    
    osobnik_binarnie[1][0],
    osobnik_binarnie[1][1],
    osobnik_binarnie[1][2],
    osobnik_binarnie[1][3],
    osobnik_binarnie[1][4],
    osobnik_binarnie[1][5],
    osobnik_binarnie[1][6],
    osobnik_binarnie[1][7],    
                    ]
osobnik_binarnie3 = [    
    osobnik_binarnie[2][0],
    osobnik_binarnie[2][1],
    osobnik_binarnie[2][2],
    osobnik_binarnie[2][3],
    osobnik_binarnie[2][4],
    osobnik_binarnie[2][5],
    osobnik_binarnie[2][6],
    osobnik_binarnie[2][7],    
                    ]

slownik = { tuple(osobnik_binarnie1): jac_sim.sum().sum() ,tuple(osobnik_binarnie2): jac_sim2.sum().sum(),
          tuple(osobnik_binarnie3): jac_sim3.sum().sum()}

def get_probability_list():
    fitness = slownik.values()
    total_fit = float(sum(fitness))
    relative_fitness = [f/total_fit for f in fitness]
    probabilities = [sum(relative_fitness[:i+1]) 
                     for i in range(len(relative_fitness))]
    return probabilities

def roulette_wheel_pop(population, probabilities, number):
    chosen = []
    for n in range(number):
        r = random.random()
        for (i, individual) in enumerate(population):
            if r <= probabilities[i]:
                chosen.append(list(individual))
                break
    return chosen

#Krzyzowanie
import random
def Crossover(parent1,parent2,point):
    p1,p2 = list(parent1),list(parent2) #convert str to list
    for i in range(point,len(p1)):
        p1[i],p2[i] = p2[i],p1[i]       #swap the genetic information
    p1,p2 = ''.join(p1),''.join(p2)     #Convert list to str
    return p1,p2
Crossover(ww[1],ww[3],1)

#a1 = [int(a[0]),int(a[1]),int(a[2]),int(a[3]),int(a[4]),int(a[5]),int(a[6]),int(a[7])]
#a1
#ax = "{0:08b}".format(osobnik0[2])
#a2=[int(ax[0]),int(ax[1]),int(ax[2]),int(ax[3]),int(ax[4]),int(ax[5]),int(ax[6]),int(ax[7])]

#pop=[a1,a2]
#pop
#tp = tuple(pop)
#tp

#pop_fitness = { tuple(pop[0]): jac_sim.sum().sum() , tuple(pop[1]) : jac_sim1.sum().sum()}
#pop_fitness



#produkty_bez_akt = list(dfas2.columns.values)
#produkty_bez_akt

#dfa = np.split(aktywnosc, 24, axis=1)
#dfa[0]=dfa[0].fillna(0)
#dfa[0]

#osobnik = dfa[0][dfa[0].values  != 0]
#osobnik

NameError: name 'osobnik_binarnie1' is not defined

In [ ]:
slownik

In [ ]:
s = get_probability_list()
ww = roulette_wheel_pop(slownik, s, 10)
ww

In [ ]:
ww[1]

In [ ]:
import random
def Crossover(parent1,parent2,point):
    p1,p2 = list(parent1),list(parent2) #convert str to list
    for i in range(point,len(p1)):
        p1[i],p2[i] = p2[i],p1[i]       #swap the genetic information
    p1,p2 = ''.join(p1),''.join(p2)     #Convert list to str
    return p1,p2
Crossover(ww[1],ww[3],1)

In [4]:
df1 = np.split(kategorie, 24, axis=1)

In [5]:
df1[0]

produktid    1   2   3   6   11  12  16  18  23  26  28
kategoriaid
1             0   1   0   1   1   1   0   1   1   1   1
2             0   1   1   0   1   1   0   0   1   0   1
3             0   0   1   1   1   0   1   1   0   1   0
4             1   1   0   1   0   0   1   0   0   1   1
5             0   0   0   0   0   0   0   1   1   0   0
6             0   0   0   0   1   0   1   1   1   0   0
7             0   0   1   0   0   0   1   1   1   0   0
8             1   0   0   1   0   1   0   1   0   0   0

In [6]:
from sklearn.metrics.pairwise import pairwise_distances
jac_sim = 1 - pairwise_distances(df1[0].T, metric = "hamming")
# optionally convert it to a DataFrame
jac_sim = pd.DataFrame(jac_sim, index=df1[0].columns, columns=df1[0].columns)
jac_sim.head(100)

produktid,1,2,3,6,11,12,16,18,23,26,28
produktid,,,,,,,,,,,
1,1.000,0.625,0.375,0.750,0.250,0.625,0.500,0.250,0.125,0.625,0.625
2,0.625,1.000,0.500,0.625,0.625,0.750,0.375,0.125,0.500,0.750,1.000
3,0.375,0.500,1.000,0.375,0.625,0.500,0.625,0.375,0.500,0.500,0.500
6,0.750,0.625,0.375,1.000,0.500,0.625,0.500,0.500,0.125,0.875,0.625
11,0.250,0.625,0.625,0.500,1.000,0.625,0.500,0.500,0.625,0.625,0.625
12,0.625,0.750,0.500,0.625,0.625,1.000,0.125,0.375,0.500,0.500,0.750
16,0.500,0.375,0.625,0.500,0.500,0.125,1.000,0.500,0.375,0.625,0.375
18,0.250,0.125,0.375,0.500,0.500,0.375,0.500,1.000,0.625,0.375,0.125
23,0.125,0.500,0.500,0.125,0.625,0.500,0.375,0.625,1.000,0.250,0.500
26,0.625,0.750,0.500,0.875,0.625,0.500,0.625,0.375,0.250,1.000,0.750
28,0.625,1.000,0.500,0.625,0.625,0.750,0.375,0.125,0.500,0.750,1.000

In [7]:
jac_sim.sum().sum()

67.0

In [8]:
df1[3]

produktid    83   84   86   89   91   92   94   97   98   99   100
kategoriaid
1              1    0    1    0    1    0    1    0    1    1    1
2              1    1    0    0    0    0    1    1    0    1    0
3              0    0    0    1    1    0    0    0    0    0    1
4              1    1    1    0    0    0    0    0    1    1    0
5              0    0    1    0    1    0    1    0    0    0    0
6              1    1    1    1    1    0    0    0    1    1    0
7              0    0    0    1    1    1    1    0    1    0    0
8              0    1    0    1    0    0    0    0    0    1    0

In [9]:
from sklearn.metrics.pairwise import pairwise_distances
jac_sim1 = 1 - pairwise_distances(df1[5].T, metric = "hamming")
# optionally convert it to a DataFrame
jac_sim1 = pd.DataFrame(jac_sim1, index=df1[2].columns, columns=df1[2].columns)
jac_sim1.sum().sum()

68.0

In [10]:
osobnik0=list(df1[0].columns.values)
a = "{0:08b}".format(osobnik0[1])
a
a1 = [int(a[0]),int(a[1]),int(a[2]),int(a[3]),int(a[4]),int(a[5]),int(a[6]),int(a[7])]
a1
ax = "{0:08b}".format(osobnik0[2])
a2=[int(ax[0]),int(ax[1]),int(ax[2]),int(ax[3]),int(ax[4]),int(ax[5]),int(ax[6]),int(ax[7])]

pop=[a1,a2]
pop
tp = tuple(pop)
tp

([0, 0, 0, 0, 0, 0, 1, 0], [0, 0, 0, 0, 0, 0, 1, 1])

In [11]:
pop_fitness = { tuple(pop[0]): jac_sim.sum().sum() , tuple(pop[1]) : jac_sim1.sum().sum()}
pop_fitness

{(0, 0, 0, 0, 0, 0, 1, 0): 67.0, (0, 0, 0, 0, 0, 0, 1, 1): 68.0}

In [12]:
#selekcja metoda kola ruletki

import random
#population = [[0,0,1,0,0,0,1],[0,1,0,0,0,0,0]]
#population_fitness_dictionary = {"0,0,1,0,0,0,1": 1.245, "0,1,0,0,0,0,0":1.658}
population = pop
population_fitness_dictionary ={ tuple(pop[0]): jac_sim.sum().sum() , tuple(pop[1]) : jac_sim1.sum().sum()}
def get_probability_list():
    fitness = population_fitness_dictionary.values()
    total_fit = float(sum(fitness))
    relative_fitness = [f/total_fit for f in fitness]
    probabilities = [sum(relative_fitness[:i+1]) 
                     for i in range(len(relative_fitness))]
    return probabilities

def roulette_wheel_pop(population, probabilities, number):
    chosen = []
    for n in range(number):
        r = random.random()
        for (i, individual) in enumerate(population):
            if r <= probabilities[i]:
                chosen.append(list(individual))
                break
    return chosen

In [13]:
a = get_probability_list()
wyn=roulette_wheel_pop(population, a,11)
wyn

[[0, 0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 1, 1],
 [0, 0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 1, 0],
 [0, 0, 0, 0, 0, 0, 1, 1],
 [0, 0, 0, 0, 0, 0, 1, 1],
 [0, 0, 0, 0, 0, 0, 1, 1],
 [0, 0, 0, 0, 0, 0, 1, 1]]

In [14]:
import random
def Crossover(parent1,parent2,point):
    p1,p2 = list(parent1),list(parent2) #convert str to list
    for i in range(point,len(p1)):
        p1[i],p2[i] = p2[i],p1[i]       #swap the genetic information
    p1,p2 = ''.join(p1),''.join(p2)     #Convert list to str
    return p1,p2
parent1 = '10110001010100101110'        #parents' Chromosomes
parent2 = '01001001011010110101'
print('Parent1:',parent1)
print('Parent2:',parent2)
point = random.randint(1,len(parent1))  #Crossover point
print('Crossover Point:',point)
offspring1,offspring2 = Crossover(parent1,parent2,point)
print('Offspring1:',offspring1)         #Offspring Chromosomes
print('Offspring2:',offspring2)

Parent1: 10110001010100101110
Parent2: 01001001011010110101
Crossover Point: 3
Offspring1: 10101001011010110101
Offspring2: 01010001010100101110

In [15]:
wyn2 = Crossover(str(wyn[0]),str(wyn[1]),1)
int(wyn2[0][1])

0

In [16]:
 def mutate(parent):
    index=random.randrange(0,len(parent))
    childGenes=list(parent)
    newGene,alternate=random.sample(geneSet,2)
    childGenes[index]=alternate if newGene==childGenes[index] else newGene
    return join(childGenes)

In [17]:
mutate(wyn2)

NameError: name 'geneSet' is not defined

In [18]:
def mutate(individual):
    next_x = individual["x"] + random.uniform(-0.05, 0.05)
    next_y = individual["y"] + random.uniform(-0.05, 0.05)

    lower_boundary, upper_boundary = (-4, 4)

    # Guarantee we keep inside boundaries
    next_x = min(max(next_x, lower_boundary), upper_boundary)
    next_y = min(max(next_y, lower_boundary), upper_boundary)

    return {"x": next_x, "y": next_y}

In [19]:
mutate(wyn2)

TypeError: tuple indices must be integers or slices, not str

In [20]:
import random
chrm = [4, 1, 5, 6, 9, 2, 3, 7, 8]
element_position = random.randint(0, len(chrm)-1 )
insert_position = random.randint(0, len(chrm)-2 )
element_value = chrm[element_position]
del chrm[element_position]
chrm.insert( insert_position, element_value )

import random
chrm = [4, 1, 5, 6, 9, 2, 3, 7, 8]
position1 = random.randint(0, len(chrm)-1 )
position2 = random.randint(0, len(chrm)-1 )
chrm[position1], chrm[position2] = chrm[position2], chrm[position1]

In [21]:
print(chrm)

[4, 1, 5, 6, 9, 2, 3, 7, 8]

In [22]:
dane_aktywnosc = pd.read_csv('C:\\Users\\mateu\\OneDrive\\Pulpit\\wyg.dane_aktywnosc.csv')

In [23]:
dane_aktywnosc.head()

   klientid  produktid  zdarzenie
0         1        256          3
1         1        275          7
2         1        264          6
3         2        312          2
4         2         46          1

In [24]:
aktywnosc = dane_aktywnosc.pivot_table(index='klientid',columns='produktid',values='zdarzenie')
aktywnosc = aktywnosc.fillna(0)

In [25]:
aktywnosc.head(10)

produktid,1,2,3,6,11,12,16,18,23,26,...,476,477,479,480,487,489,492,493,496,499
klientid,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
dfa = np.split(aktywnosc, 24, axis=1)

In [27]:
dfa[0]=dfa[0].fillna(0)
dfa[0]

produktid   1    2    3    6    11   12   16   18   23   26   28
klientid
1          0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2          0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3          0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4          0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5          0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
6          0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
7          0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
8          0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
9          0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
10         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
11         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
12         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
13         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
14         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
15         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
16         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
17         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
18         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
19         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
20         0.0  0.0  0.0  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
21         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
22         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
23         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
24         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
25         0.0  0.0  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
26         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
27         0.0  0.0  0.0  0.0  7.0  5.0  0.0  0.0  0.0  0.0  6.0
28         0.0  0.0  0.0  0.0  0.0  0.0  1.0  5.0  0.0  0.0  0.0
29         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  2.0  0.0  0.0
30         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...        ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
51         0.0  0.0  0.0  0.0  0.0  0.0  7.0  0.0  0.0  0.0  0.0
52         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
53         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
54         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
55         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
56         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
57         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
58         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
59         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
60         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
61         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
62         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
63         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
64         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
65         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
66         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
67         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
68         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
69         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
70         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
71         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  6.0
72         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
73         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
74         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
75         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
76         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
77         5.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
78         0.0  0.0  0.0  0.0  7.0  0.0  0.0  0.0  0.0  0.0  0.0
79         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
80         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[80 rows x 11 columns]

In [28]:
osobnik = dfa[0][dfa[0].values  != 0]
osobnik

produktid   1    2    3    6    11   12   16   18   23   26   28
klientid
8          0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
20         0.0  0.0  0.0  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
25         0.0  0.0  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
27         0.0  0.0  0.0  0.0  7.0  5.0  0.0  0.0  0.0  0.0  6.0
27         0.0  0.0  0.0  0.0  7.0  5.0  0.0  0.0  0.0  0.0  6.0
27         0.0  0.0  0.0  0.0  7.0  5.0  0.0  0.0  0.0  0.0  6.0
28         0.0  0.0  0.0  0.0  0.0  0.0  1.0  5.0  0.0  0.0  0.0
28         0.0  0.0  0.0  0.0  0.0  0.0  1.0  5.0  0.0  0.0  0.0
29         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  2.0  0.0  0.0
33         0.0  0.0  0.0  0.0  0.0  6.0  0.0  0.0  0.0  0.0  0.0
38         0.0  0.0  2.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
49         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  5.0  0.0
51         0.0  0.0  0.0  0.0  0.0  0.0  7.0  0.0  0.0  0.0  0.0
71         0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  6.0
77         5.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
78         0.0  0.0  0.0  0.0  7.0  0.0  0.0  0.0  0.0  0.0  0.0

In [29]:
docKlient = aktywnosc.iloc[[2]]
docKlient

produktid,1,2,3,6,11,12,16,18,23,26,...,476,477,479,480,487,489,492,493,496,499
klientid,,,,,,,,,,,,,,,,,,,,,
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
docKlient[docKlient.values  != 0]
dfas1 = docKlient.loc[:, (docKlient != 0).any()]
dfas1
dfas2 = docKlient.loc[:, (docKlient == 0).any()]
dfas2

produktid,1,2,3,6,11,12,16,18,23,26,...,476,477,479,480,487,489,492,493,496,499
klientid,,,,,,,,,,,,,,,,,,,,,
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
dfas1

produktid  197  228  276  279  282  321  338  445
klientid
3          5.0  1.0  3.0  6.0  2.0  8.0  5.0  2.0

In [32]:
klient1 = aktywnosc.iloc[[19]]
dfas2 = klient1.loc[:, (klient1 != 0).any()]
dfas2

produktid  6    67   164  181  260  493
klientid
20         2.0  8.0  6.0  6.0  1.0  8.0

In [33]:
print(np.corrcoef(dfas1,dfas2))

ValueError: all the input array dimensions except for the concatenation axis must match exactly

In [222]:
aktywnosc.iloc[[1]]

produktid,1,2,3,6,11,12,16,18,23,26,...,476,477,479,480,487,489,492,493,496,499
klientid,,,,,,,,,,,,,,,,,,,,,
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [223]:
np.corrcoef(docKlient,aktywnosc.iloc[[22]])

ValueError: all the input array dimensions except for the concatenation axis must match exactly